html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('https://lared.com.ec/wp-content/uploads/2024/03/Trofeo-LigaPro-Serie-B-scaled-1.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}

#Inicio {
    display: flex;
    justify-content: center;
    
}
.card {
    background-color: lightgrey;
    width: 10px;
}
.display-4{
    color: black;

}
.container{
    background-color: rgba(250,250,250,0.8);
    border-radius: 8px;
}